@{
    Layout = "_DashboardLayout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de Usuarios</title>
</head>
<body class="bg-gray-100">
    <div class="container mx-auto mt-8 w-[85%]">
        <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
            <h4 class=" text-center mb-5 text-lg text-white">Administradores del sistema</h4>
            <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"><a href="/Admin/Users">Nuevo Administrador</a></button>
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="py-3 px-6">
                            Nombre
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Apellido
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Email
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Cumpleaños
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var admin in ViewBag.Administradores){
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <td class="py-4 px-6">
                            @admin.Name
                        </td>
                        <td class="py-4 px-6">
                            @admin.LastName
                        </td>
                        <td class="py-4 px-6">
                            @admin.Email
                        </td>
                        <td class="py-4 px-6">
                            @admin.Birthday.ToString("yyyy-MM-dd")
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>