@model List<proyectoCanchas.Models.Rent>;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <div class="flex items-center justify-between flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white dark:bg-gray-900">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                
                <th scope="col" class="px-6 py-3">
                    Campo
                </th>
                <th scope="col" class="px-6 py-3">
                    Precio
                </th>
                <th scope="col" class="px-6 py-3">
                    Estado
                </th>
                <th scope="col" class="px-6 py-3">
                    Hora de reserva
                </th>
                <th scope="col" class="px-6 py-3">
                    Accion
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var rent in Model){
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td class="px-6 py-4 bg-blue-950">
                    @rent.Field.Name
                </td>
                <td class="px-6 py-4 bg-blue-950">
                    @rent.Field.Price
                </td>
                <td class="px-6 py-4 bg-blue-950">
                    <div class="flex items-center">
                        <div class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div> Activa
                    </div>
                </td>
                <td class="px-6 py-4 bg-blue-950">
                   @rent.DateTime
                </td>
                <td class="px-6 py-4 bg-blue-950">
                   <a href="/reserva/Eliminar?id=@rent.Id" class=" text-red-500">Eliminar</a>
                </td>
            </tr>
            }
            
            
        </tbody>
    </table>
</div>

</body>
</html>